.frame{
    background-color:#ca38ff20;
    padding: 2em;
    width: 60%;
    height: 90vh;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    position:relative;
    /* border: solid red; */
}

.content{
    position: relative;
    font-size: 1.5vw;
}

.h1{
    font-family:'Chewy', cursive;
}

.image{
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    min-width: 30vmin;
}
.buttons{
    display:flex;
    justify-content: center;
}