.container {
  position: relative;
  display: grid;
  place-items: center;
  background: rgba(202, 56, 255, 0.3);
  padding: 4rem;
  text-align: center;
  border-radius: 15px;
}

.username {
  font-size: 2rem;
}

.beans {
  position: relative;
}

.beans p {
  position: absolute;
  background: white;
  font-weight: bold;
  padding: 0.75rem;
  left: 50%;
  bottom: 50%;
  border-radius: 100%;
  transform: translate(-50%, 125%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
