.statisticsValue {
  border: 0.1rem solid #3c3c3c;
  color: rgb(99, 81, 81);
  border-radius: 1.3rem;
  width: 7rem;
  padding: 1em 1.5em;
  max-width: 30rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1.5rem;
}

.title {
  font-size: 3vmin;
}

@media only screen and (min-width: 128px) and (max-width: 515px) {
  .statisticsValue {
    width: 10rem;
    height: 4rem;
  }
  .title {
    font-size: 1.85rem;
  }
}
