.container{



  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 200px;
  max-width: 400px;
}

.statisticsValue {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1.5rem;
  width: 100%;

  border: 0.1rem solid #3c3c3c;
  border-radius:50px;
  color: rgb(99, 81, 81);
  text-align: center;
  padding: 1em 0;
  font-weight: 600;
}

.title{
  text-align: center;
}

