.beanButton {
  position: relative;
  width: max-content;
  cursor: pointer;
  user-select: none;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  opacity: 0.8;
  background: none;
  border: none;
  scale: 1.5;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

.category {
  position: absolute;
  z-index: 1;
  top: 33%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #ffffff;
  font-weight: bold;
}

.jellybean {
  transform: rotate(-90deg);
}

/* .beanButton:hover {
  animation: wiggle 0.6s;
} */

.completedMark {
  position: absolute;
  margin: 0;
  top: 2.5em;
  right: 1em;
  z-index: 100;
}

.completedMark::after {
  content: "\2713";
  color: green;
  font-size: 3.5rem;
  font-weight: 800;
  filter: drop-shadow();
  position: absolute;
  top: -60px;
  right: -40px;
  text-shadow: 1px 2px 2px rgb(148, 148, 148);
}
.container:hover .animate {
  animation: wiggle 0.6s;
}

@media (max-width: 1100px) {
  .beanButton {
    scale: 1.25;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .beanButton {
    scale: 1.15;
  }
}

@keyframes wiggle {
  25% {
    transform: scale(0.8, 1.3);
  }
  50% {
    transform: scale(1.1, 0.8);
  }
  75% {
    transform: scale(0.7, 1.2);
  }
}
