.beanButton {
  position: relative;
  width: max-content;
  cursor: pointer;
  user-select: none;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  opacity: 0.8;
  background: none;
  border: none;
  scale: 1.5;
}

.category {
  position: absolute;
  z-index: 1;
  top: 33%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #ffffff;
  font-weight: bold;
}

.jellybean {
  transform: rotate(-90deg);
  transition: filter 250ms ease-in-out;
}

.beanButton:hover .jellybean {
  filter: drop-shadow(0 0 5px rgba(0 0 0 / 0.3));
}

@media (max-width: 1100px) {

  .beanButton{
    scale:unset;
    margin: 0;
    padding: 0;
  }

}