@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: solid #3c3c3c4b 2px;
  width: 100%;

}

.branding {
  display: flex;
  align-items:center;
}

.link {
  font-size: 1.25rem;
}

.link:hover {
  border-bottom: solid black 2px;
}

.title {
  font-family: "Chewy", cursive;
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 0;
  margin-left: 1rem;
}

.dropdownDisplay {
  display: none;
}

@media (max-width: 1100px) {
  .link {
    display: none;
  }
  .logoutAnchor{
    display:none;
  }

  .dropdownDisplay {
    display: unset;
  }
}
