.loading {
  border: 1rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid blue;
  border-bottom: 1rem solid blue;
  width: 3.75rem;
  height: 3.75rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .loading {
    top: 40%;
    left: 45%;
  }
}
