

.grid {
    display: grid; 
    grid-auto-flow: row dense; 
    grid-template-columns: auto auto auto auto auto auto; 
    gap: 1em; 
    max-width: 1400px;
    margin: 8em auto;
    border:solid red 1px;
    box-sizing: border-box;
  }

  .gridItem{
       border:solid blue 1px; 
       width: 100%;
       height: 100%;
       box-sizing: border-box;
  }

  .gridItemLevel{
    grid-column-start: 1;
    grid-column-end: 4;

  }

  .levelTitle{
    width: 100%;
    text-align: center;
  }

  .gridItemStats{
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-end: span 1;
  }

.level{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.levelTitle{
    font-size: 1.5rem;
}

.levelContainer{
    border: solid black 2px;
    padding: 8em;
    display:flex;
    gap: 2em;
    justify-content: center;
    align-items: center;

}


.beanBtn{
    border: solid black 1px;
    padding: 1em;
}

.statsContainer{
    margin: auto;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    
}

.statsDisplay{
    border: solid black 1px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
}

.gridItemLogo{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-end: span 2;
}

.gridItemLogoContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.gridItemLogoImage{
    width: 350px;
    border: solid black 1px;
    height: 400px;

}