@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  width: 100%;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 75vh;
}

.titleContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titleLogo {
  display: flex;
  align-items: center;
}

.jellyBean {
  margin-right: 1rem;
}

.jellies {
  position: absolute;
  bottom: 10%;
  left: 75%;
}

.title {
  font-family: "Chewy", cursive;
  font-size: 6rem;
  margin: 0;
  margin-left: 1rem;
}

.text {
  width: 75%;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
}

.lineContainer {
  position: absolute;
  bottom: 5%;
}

.line {
  background-color: #3c3c3c;
  width: 90vw;
  opacity: 0.3;
}

@media (max-width: 700px) {
  .jellies {
    display: none;
  }

  .titleLogo {
    flex-direction: column;
  }
}
