.container {
  display: grid;
  place-items: center;
}

.title {
  font-size: 3vmin;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #7f00ff;
  color: white;
  margin: 1em 0;
  padding: 1em 1.5em;
  border-radius: 20px;
  width: 30vw;
  text-align: center;
}

.leaderboard {
  position: block;
}

.user {
  display: flex;
  align-items: center;
  width: 25vw;
  height: 2rem;
  text-align: left;
  margin: 2em auto;
  font-size: 2vmin;
  font-weight: 400;
}

.userPosition {
  position: block;
  left: 1rem;
  font-weight: bold;
  margin: 0 3em;
  padding: 1em;
}

.username {
  position: block;
  margin: 0 auto;
  padding: 1em;
  transform: translateX(-50%);
}
.userXP {
  display: grid;
  place-items: center;
  position: absolute;
  right: 1rem;
  font-weight: 500;
  background: #ffd900;
  width: 15vw;
  margin-left: 0.65em;
  margin-right: 0.65em;
  padding: 1em 5px;
  border-radius: 15px;
  box-shadow: 0 5px 100px rgba(0, 0, 0, 0.2);
}

.jellies {
  position: absolute;
  bottom: 65%;
  right: 12.5%;
  width: 20vmin;
}

.loadButton {
  background: #ee4266;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 1em 1em;
  font-size: 2vmin;
  margin: 0 auto;
  width: 20vmin;
  border: none;
}
