.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem;
  height: 30rem;
  width: 60rem;
}

.statistics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.badges {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userDetails {
  display: flex;
  gap: 2em;
  margin: 2em 0;
}

.userImage {
  border-radius: 25rem;
}

.line {
  background-color: #3c3c3c;
  width: 90vw;
  opacity: 0.3;
}

.badges > button {
  margin-right: 3rem;
}
.badges > button:hover {
  animation: wiggle 0.6s;
}

@keyframes wiggle {
  25% {
    transform: scale(0.8, 1.3);
  }
  50% {
    transform: scale(1.1, 0.8);
  }
  75% {
    transform: scale(0.7, 1.2);
  }
}
