.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  height: 30rem;
  width: 35rem;
}

.statistics {
  display: flex;
  justify-content: space-between;
}

.badge {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*
.statisticsItem {
  display: inline-flex;
  justify-content: space-around;
  flex: 1;
}


.badgeItem {
  display: inline-flex;
} */
