.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.statsContainer {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.statistics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 2em;
}

.item {
  padding: 3em;
}

.badges {
  display: flex;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.statsDisplay {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ca38ff42;
  border-radius: 25px;
  max-width: 500px;
}

.userDetails {
  display: flex;
  align-items: center;
  gap: 4em;
  margin: auto;
  padding: 2em;
  width: 90%;
}

.image {
  margin: 0 1em;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.username {
  font-size: 2.5rem;
}

.line {
  background-color: #3c3c3c;
  width: 90%;
  opacity: 0.3;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.badges div {
  width: 20%;
  min-width: 200px;
  max-width: 400px;
  padding: 1em 2em;
  margin-left: 2em;
}

@keyframes wiggle {
  25% {
    transform: scale(0.8, 1.3);
  }
  50% {
    transform: scale(1.1, 0.8);
  }
  75% {
    transform: scale(0.7, 1.2);
  }
}

@media (max-width: 1100px) {
  .userDetails {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: auto;
    padding: 2em;
    width: 100%;
    text-align: center;
    box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ca38ff42;
    border-radius: 25px;
    max-width: 500px;
    z-index: -2;
  }

  .title {
    justify-content: center;
  }

  .line {
    margin-top: 2em;
  }
}
