.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.questionContainer {
  display: grid;
  place-items: center;
}

.questionText {
  width: 50%;
  word-wrap: break-word;
}

.answers {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.btn {
  padding: 1.5rem 4rem;
}

.meterContainer{
  position:absolute;
  left: 5vw;
  top:5vh;
  height: 85vh;
}

.meterBackground{
  position:relative;
  transform: rotateZ(180deg);
  height: 100%;
  width: 100px;
  background-color: #fff;
  border: solid black 2px;
  margin-bottom: 0.25em;
  border-radius: 5px;
}

.meterTitle{
  font-size: 2rem;
  margin: 0;
  padding: 0.75rem 0;
}