.NavBar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.category{
    display:flex;

}

.price{
    display:flex;
}

.infocard{
    margin-left:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    background-color: #ca38ff42;
    border-radius: 25px;
}

.shopitem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5em;
}

.tagprice{
    margin:20px;
}