.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1em;
  max-width: 1600px;
  justify-content: center;
  margin: auto;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: "Chewy", cursive;
}

.text {
  text-align: center;
  font-size: 1.25rem;
  margin: 1rem 2rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.tagprice {
  margin: 20px;
}

.equipBtn {
  background-color: rgb(255, 227, 14);
  color: black;
}

.panel {
  padding: 1em;
  margin: 0 auto;
}

.avatar {
  margin: 2rem;
  z-index: -1;
}

.equipBtn {
  background-color: rgb(255, 227, 14);
  color: black;
}

@media (max-width: 1100px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .text {
    font-size: 1rem;
  }

  .panel {
    order: -1;
    max-width: 500px;
    width: 100%;
    position: relative;
  }

  .avatar {
    position: absolute;
    width: 20%;
    left: 2em;
    top: 2em;
    margin: 0;
  }
}
