.NavBar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.shopcategory {
  margin-right: 23%;
  margin-left: 5%;
  /* border: solid black; */
  padding: 10px;

  z-index: 1;
}

.price {
  display: flex;
}

.infocard {
  position: absolute;
  bottom: 20%;
  right: 3%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 50px;
  max-width: 500px;
  min-height: 40px;
  background-color: #ca38ff42;
  border-radius: 25px;
  padding: 10px;
}

.shopitem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  padding: 20px;
  border-radius: 10%;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.shoppagetitle {
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.tagprice {
  margin: 20px;
}

<<<<<<< HEAD
.equipBtn {
  background-color: rgb(255, 227, 14);
  color: black;
=======
.green{
  background-color: green;
>>>>>>> 3d1e250c39af6a2e95c5d2e3bcb4d58ccd5c8bca
}
